CREATE TABLE TEAM(
	ID_TEAM int IDENTITY(1,1) NOT NULL,
	TEAM_NAME nvarchar(100) NOT NULL,
	PRICE decimal(3, 1) NOT NULL,
	TOTAL_POINTS int NOT NULL,
	TEAM_IMG nvarchar(100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_TEAM ASC
))
GO
/****** Object:  Table RACE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE RACE(
	ID_RACE int IDENTITY(1,1) NOT NULL,
	GP_NAME nvarchar(100) NOT NULL,
	CIRCUIT_NAME nvarchar(100) NOT NULL,
	COUNTRY nvarchar(100) NOT NULL,
	GP_DATE_START nvarchar(100) NOT NULL,
	GP_DATE_END nvarchar(100) NOT NULL,
	GP_LENGTH int NOT NULL,
	GP_DISTANCE decimal(6, 3) NOT NULL,
	TURN int NOT NULL,
	LAP int NOT NULL,
	LAST_WINNER nvarchar(100) NOT NULL,
	FAST_LAP nvarchar(100) NOT NULL,
	GP_IMG nvarchar(100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_RACE ASC
))
GO
/****** Object:  Table DRIVER    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE DRIVER(
	ID_DRIVER int NOT NULL,
	DRIVER_NAME nvarchar(100) NOT NULL,
	NACIONALITY nvarchar(100) NOT NULL,
	PRICE decimal(3, 1) NOT NULL,
	TOTAL_POINTS int NOT NULL,
	ID_TEAM int NOT NULL,
	DRIVER_IMG nvarchar(100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_DRIVER ASC
))
GO
/****** Object:  Table RESULT_RACE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE RESULT_RACE(
	ID_RESULT_RACE int IDENTITY(1,1) NOT NULL,
	POSITION_RACE int NOT NULL,
	POINTS int NOT NULL,
	LAP_TIME nvarchar(100) NOT NULL,
	ID_RACE int NOT NULL,
	ID_DRIVER int NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_RESULT_RACE ASC
))
GO
/****** Object:  View V_RESULTRACE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   VIEW V_RESULTRACE 
AS
	SELECT RR.POSITION_RACE, RR.LAP_TIME, D.DRIVER_NAME, T.TEAM_NAME, RR.POINTS, RR.ID_RACE
	FROM TEAM T
	INNER JOIN DRIVER D ON T.ID_TEAM = D.ID_TEAM
	INNER JOIN RESULT_RACE RR ON D.ID_DRIVER = RR.ID_DRIVER
	INNER JOIN RACE R ON RR.ID_RACE = R.ID_RACE
GO
/****** Object:  Table USER_TEAM    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USER_TEAM(
	ID_USER_TEAM int IDENTITY(1,1) NOT NULL,
	USER_TEAM_NAME nvarchar(100) NOT NULL,
	TEAM_MONEY decimal(4, 1) NOT NULL,
	ID_USER int NOT NULL,
	ID_TEAM int NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_USER_TEAM ASC
))
GO
/****** Object:  Table DRIVER_USER_TEAM    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE DRIVER_USER_TEAM(
	ID_DRIVER_TEAM int NOT NULL,
	ID_USER_TEAM int NOT NULL,
	ID_DRIVER int NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_DRIVER_TEAM ASC
))
GO
/****** Object:  View V_USERTEAM    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW V_USERTEAM
AS
	SELECT 
	CAST(ROW_NUMBER() OVER (ORDER BY ID_USER) AS INT) AS POSICION,
	UT.ID_USER, UT.ID_USER_TEAM, UT.USER_TEAM_NAME AS USER_TEAM_NAME, UT.TEAM_MONEY AS BUDGET, 
	D.DRIVER_NAME,	D.PRICE AS DRIVER_PRICE, D.DRIVER_IMG,
	T.TEAM_NAME AS TEAM, T.PRICE AS TEAM_PRICE, T.TEAM_IMG
	FROM USER_TEAM UT
	INNER JOIN DRIVER_USER_TEAM DUT ON UT.ID_USER_TEAM = DUT.ID_USER_TEAM 
	INNER JOIN DRIVER D ON DUT.ID_DRIVER = D.ID_DRIVER
	INNER JOIN TEAM T ON UT.ID_TEAM = T.ID_TEAM
	--WHERE UT.ID_USER_TEAM = 2
GO
/****** Object:  Table LEAGUE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE LEAGUE(
	ID_LEAGUE int IDENTITY(1,1) NOT NULL,
	LEAGUE_NAME nvarchar(100) NOT NULL,
	LEAGUE_COD int NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_LEAGUE ASC
))
GO
/****** Object:  Table USER_CLASSIFICATION    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USER_CLASSIFICATION(
	ID_USER int NOT NULL,
	USER_TOTAL_POINTS int NOT NULL,
	ID_LEAGUE int NOT NULL
)
GO
/****** Object:  Table USER_PLAYER    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USER_PLAYER(
	ID_USER int NOT NULL,
	NICKNAME nvarchar(50) NOT NULL,
	USER_EMAIL nvarchar(100) NOT NULL,
	USER_PASSWORD nvarchar(100) NOT NULL,
	USER_PASSWORD_SHA varbinary(max) NOT NULL,
	SALT nvarchar(100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_USER ASC
)) 
GO
/****** Object:  View V_LEAGUE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW V_LEAGUE
AS
SELECT         CAST(ROW_NUMBER() OVER (ORDER BY UP.ID_USER) AS INT) AS POSICION,L.ID_LEAGUE, L.LEAGUE_NAME, UP.NICKNAME, UC.USER_TOTAL_POINTS, UP.ID_USER
FROM            dbo.LEAGUE AS L INNER JOIN
                         dbo.USER_CLASSIFICATION AS UC ON L.ID_LEAGUE = UC.ID_LEAGUE INNER JOIN
                         dbo.USER_PLAYER AS UP ON UC.ID_USER = UP.ID_USER
GO
/****** Object:  Table SCHEDULE    Script Date: 22/03/2023 21:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SCHEDULE(
	ID_SCHEDULE int NOT NULL,
	SCHEDULE_NAME nvarchar(40) NOT NULL,
	SCHEDULE_DAY nvarchar(40) NOT NULL,
	SCHEDULE_TIME nvarchar(40) NOT NULL,
	ID_RACE int NOT NULL,
PRIMARY KEY CLUSTERED 
(
	ID_SCHEDULE ASC
))
GO
INSERT DRIVER (ID_DRIVER, DRIVER_NAME, NACIONALITY, PRICE, TOTAL_POINTS, ID_TEAM, DRIVER_IMG) VALUES (1, N'Lewis Hamilton', N'United Kingdom', CAST(23.7 AS Decimal(3, 1)), 10, 1, N'1.png')
INSERT DRIVER (ID_DRIVER, DRIVER_NAME, NACIONALITY, PRICE, TOTAL_POINTS, ID_TEAM, DRIVER_IMG) VALUES (2, N'George Russell', N'United Kingdom', CAST(18.6 AS Decimal(3, 1)), 6, 1, N'2.png')
INSERT DRIVER (ID_DRIVER, DRIVER_NAME, NACIONALITY, PRICE, TOTAL_POINTS, ID_TEAM, DRIVER_IMG) VALUES (3, N'Max Verstappen', N'Holland', CAST(26.9 AS Decimal(3, 1)), 25, 2, N'3.png')
GO
INSERT DRIVER_USER_TEAM (ID_DRIVER_TEAM, ID_USER_TEAM, ID_DRIVER) VALUES (1, 1, 11)
INSERT DRIVER_USER_TEAM (ID_DRIVER_TEAM, ID_USER_TEAM, ID_DRIVER) VALUES (2, 1, 6)
INSERT DRIVER_USER_TEAM (ID_DRIVER_TEAM, ID_USER_TEAM, ID_DRIVER) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT LEAGUE ON 

INSERT LEAGUE (ID_LEAGUE, LEAGUE_NAME, LEAGUE_COD) VALUES (1, N'LIGUE 1', 24701)
INSERT LEAGUE (ID_LEAGUE, LEAGUE_NAME, LEAGUE_COD) VALUES (2, N'LIGUE 2', 24702)
INSERT LEAGUE (ID_LEAGUE, LEAGUE_NAME, LEAGUE_COD) VALUES (3, N'LIGUE 3', 24703)
SET IDENTITY_INSERT LEAGUE OFF
GO
SET IDENTITY_INSERT RACE ON 

INSERT RACE (ID_RACE, GP_NAME, CIRCUIT_NAME, COUNTRY, GP_DATE_START, GP_DATE_END, GP_LENGTH, GP_DISTANCE, TURN, LAP, LAST_WINNER, FAST_LAP, GP_IMG) VALUES (1, N'Grand Prix of Bahrain', N'Cirtuit of Bahrain', N'Sakhir', N'2023/03/03', N'2023/03/05', 5412, CAST(308.238 AS Decimal(6, 3)), 15, 57, N'Charles LECLERC', N'1:31.447 - P.de la rosa (2005)', N'1_Bahrein.jpg')
INSERT RACE (ID_RACE, GP_NAME, CIRCUIT_NAME, COUNTRY, GP_DATE_START, GP_DATE_END, GP_LENGTH, GP_DISTANCE, TURN, LAP, LAST_WINNER, FAST_LAP, GP_IMG) VALUES (2, N'Grand Prix of Saudi Arabia', N'Cirtuit of Corniche de Jeddah', N'Jeddah', N'2023/03/17', N'2023/03/19', 6175, CAST(308.450 AS Decimal(6, 3)), 27, 50, N'Max VERSTAPPEN', N'1:30.734 - L. Hamilton (2021)', N'2_Arabia Saudi.jpg')
INSERT RACE (ID_RACE, GP_NAME, CIRCUIT_NAME, COUNTRY, GP_DATE_START, GP_DATE_END, GP_LENGTH, GP_DISTANCE, TURN, LAP, LAST_WINNER, FAST_LAP, GP_IMG) VALUES (3, N'Grand Prix of Australia', N'Cirtuit of Albert Park', N'Melbourne', N'2023/03/31', N'2023/04/02', 5303, CAST(307.574 AS Decimal(6, 3)), 16, 58, N'Charles LECLERC', N'1:20.260 - C.Leclerc (2022)', N'3_Australia.jpg')
SET IDENTITY_INSERT RACE OFF
GO
SET IDENTITY_INSERT RESULT_RACE ON 

INSERT RESULT_RACE (ID_RESULT_RACE, POSITION_RACE, POINTS, LAP_TIME, ID_RACE, ID_DRIVER) VALUES (1, 1, 25, N'1:33:56.736', 1, 3)
INSERT RESULT_RACE (ID_RESULT_RACE, POSITION_RACE, POINTS, LAP_TIME, ID_RACE, ID_DRIVER) VALUES (2, 2, 18, N'+11.987', 1, 4)
INSERT RESULT_RACE (ID_RESULT_RACE, POSITION_RACE, POINTS, LAP_TIME, ID_RACE, ID_DRIVER) VALUES (3, 3, 15, N'+38.637', 1, 11)
SET IDENTITY_INSERT RESULT_RACE OFF
GO
INSERT SCHEDULE (ID_SCHEDULE, SCHEDULE_NAME, SCHEDULE_DAY, SCHEDULE_TIME, ID_RACE) VALUES (1, N'Free Practice 1', N'Friday', N'12:30 - 13:30', 1)
INSERT SCHEDULE (ID_SCHEDULE, SCHEDULE_NAME, SCHEDULE_DAY, SCHEDULE_TIME, ID_RACE) VALUES (2, N'Free Practice 2', N'Friday', N'16:00 - 17:00', 1)
INSERT SCHEDULE (ID_SCHEDULE, SCHEDULE_NAME, SCHEDULE_DAY, SCHEDULE_TIME, ID_RACE) VALUES (3, N'Free Practice 3', N'Saturday', N'12:30 - 13:30', 1)
GO
SET IDENTITY_INSERT TEAM ON 

INSERT TEAM (ID_TEAM, TEAM_NAME, PRICE, TOTAL_POINTS, TEAM_IMG) VALUES (1, N'Mercedes', CAST(25.1 AS Decimal(3, 1)), 16, N'1.png')
INSERT TEAM (ID_TEAM, TEAM_NAME, PRICE, TOTAL_POINTS, TEAM_IMG) VALUES (2, N'Red Bull Racing', CAST(27.2 AS Decimal(3, 1)), 43, N'2.png')
INSERT TEAM (ID_TEAM, TEAM_NAME, PRICE, TOTAL_POINTS, TEAM_IMG) VALUES (3, N'Ferrari', CAST(22.1 AS Decimal(3, 1)), 12, N'3.png')
SET IDENTITY_INSERT TEAM OFF
GO
INSERT USER_CLASSIFICATION (ID_USER, USER_TOTAL_POINTS, ID_LEAGUE) VALUES (2, 0, 1)
INSERT USER_CLASSIFICATION (ID_USER, USER_TOTAL_POINTS, ID_LEAGUE) VALUES (2, 0, 3)
INSERT USER_CLASSIFICATION (ID_USER, USER_TOTAL_POINTS, ID_LEAGUE) VALUES (3, 0, 1)
GO
INSERT USER_PLAYER (ID_USER, NICKNAME, USER_EMAIL, USER_PASSWORD, USER_PASSWORD_SHA, SALT) VALUES (1, N'admin', N'adminpr0yect0F1@admin.es', N'pr0yectoF12023', 0xA17298AAC5E1EE2EBEB731280E9F42B22E8137A1A71A53BEBB3BDD5A1A1CCC9CAF0DAC3C1519F43ACAAC7B0A214D204115DD67BDD59410792ABF5CCE78781721, N'ç\ø¢Hwè!·ÛÜÛb®ð¿C&')
INSERT USER_PLAYER (ID_USER, NICKNAME, USER_EMAIL, USER_PASSWORD, USER_PASSWORD_SHA, SALT) VALUES (2, N'nerfo2', N'nerfo2@gmail.com', N'nerfo2', 0x8AB45D6A4A9A59FDC2BFD359E7B63D7D04DD83987E975CE0D6CEFD2DCDD4DA3D3F1901FEFC06730E107F5F7E1D15539D46A582884CC6274D4CC153E16C3C332D, N'6òKN1ùÝEÀ/×ün%¯à')
INSERT USER_PLAYER (ID_USER, NICKNAME, USER_EMAIL, USER_PASSWORD, USER_PASSWORD_SHA, SALT) VALUES (3, N'nerfo3', N'nerfo3@gmail.com', N'nerfo3', 0xE8090D2ADE75C0CAC7E80790C359FF490F6F05584F22FFDDBC8586B99459C3E5C9FED4DE27E0E31003A225E8222444429B4F357B378C243D97919C9A1343A5AC, N'ú©Ðo.*G^JÚ·Ow¹¤*Ø&rò')
GO
SET IDENTITY_INSERT USER_TEAM ON 

INSERT USER_TEAM (ID_USER_TEAM, USER_TEAM_NAME, TEAM_MONEY, ID_USER, ID_TEAM) VALUES (1, N'TEAM 1 Nerfo2', CAST(100.0 AS Decimal(4, 1)), 2, 3)
INSERT USER_TEAM (ID_USER_TEAM, USER_TEAM_NAME, TEAM_MONEY, ID_USER, ID_TEAM) VALUES (7, N'Nerfo3', CAST(100.0 AS Decimal(4, 1)), 3, 6)
INSERT USER_TEAM (ID_USER_TEAM, USER_TEAM_NAME, TEAM_MONEY, ID_USER, ID_TEAM) VALUES (12, N'Nerfo4', CAST(100.0 AS Decimal(4, 1)), 4, 3)
SET IDENTITY_INSERT USER_TEAM OFF
GO
ALTER TABLE DRIVER  WITH CHECK ADD  CONSTRAINT FK_DRIVER_TEAM FOREIGN KEY(ID_TEAM)
REFERENCES TEAM (ID_TEAM)
GO
ALTER TABLE DRIVER CHECK CONSTRAINT FK_DRIVER_TEAM
GO
ALTER TABLE DRIVER_USER_TEAM  WITH CHECK ADD  CONSTRAINT FK_DRIVERUSERTEAM_DRIVER FOREIGN KEY(ID_DRIVER)
REFERENCES DRIVER (ID_DRIVER)
GO
ALTER TABLE DRIVER_USER_TEAM CHECK CONSTRAINT FK_DRIVERUSERTEAM_DRIVER
GO
ALTER TABLE DRIVER_USER_TEAM  WITH CHECK ADD  CONSTRAINT FK_DRIVERUSERTEAM_USERTEAM FOREIGN KEY(ID_USER_TEAM)
REFERENCES USER_TEAM (ID_USER_TEAM)
GO
ALTER TABLE DRIVER_USER_TEAM CHECK CONSTRAINT FK_DRIVERUSERTEAM_USERTEAM
GO
ALTER TABLE RESULT_RACE  WITH CHECK ADD  CONSTRAINT FK_RESULTRACE_DRIVER FOREIGN KEY(ID_DRIVER)
REFERENCES DRIVER (ID_DRIVER)
GO
ALTER TABLE RESULT_RACE CHECK CONSTRAINT FK_RESULTRACE_DRIVER
GO
ALTER TABLE RESULT_RACE  WITH CHECK ADD  CONSTRAINT FK_RESULTRACE_RACE FOREIGN KEY(ID_RACE)
REFERENCES RACE (ID_RACE)
GO
ALTER TABLE RESULT_RACE CHECK CONSTRAINT FK_RESULTRACE_RACE
GO
ALTER TABLE SCHEDULE  WITH CHECK ADD  CONSTRAINT FK_SCHEDULE_RACE FOREIGN KEY(ID_RACE)
REFERENCES RACE (ID_RACE)
GO
ALTER TABLE SCHEDULE CHECK CONSTRAINT FK_SCHEDULE_RACE
GO
ALTER TABLE USER_CLASSIFICATION  WITH CHECK ADD  CONSTRAINT FK_USERCLASSIFICATION_LEAGUE FOREIGN KEY(ID_LEAGUE)
REFERENCES LEAGUE (ID_LEAGUE)
GO
ALTER TABLE USER_CLASSIFICATION CHECK CONSTRAINT FK_USERCLASSIFICATION_LEAGUE
GO
ALTER TABLE USER_CLASSIFICATION  WITH CHECK ADD  CONSTRAINT FK_USERCLASSIFICATION_USERPLAYER FOREIGN KEY(ID_USER)
REFERENCES USER_PLAYER (ID_USER)
GO
ALTER TABLE USER_CLASSIFICATION CHECK CONSTRAINT FK_USERCLASSIFICATION_USERPLAYER
GO
ALTER TABLE USER_TEAM  WITH CHECK ADD  CONSTRAINT FK_USERTEAM_TEAM FOREIGN KEY(ID_TEAM)
REFERENCES TEAM (ID_TEAM)
GO
ALTER TABLE USER_TEAM CHECK CONSTRAINT FK_USERTEAM_TEAM
GO
ALTER TABLE USER_TEAM  WITH CHECK ADD  CONSTRAINT FK_USERTEAM_USERPLAYER FOREIGN KEY(ID_USER)
REFERENCES USER_PLAYER (ID_USER)
GO
ALTER TABLE USER_TEAM CHECK CONSTRAINT FK_USERTEAM_USERPLAYER
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (140 420 220 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 50 4 25 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 50 2 25 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 30 2 40 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 56 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 66 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 50 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (156 418 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 75 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (166 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 60 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "L"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UC"
            Begin Extent = 
               Top = 88
               Left = 349
               Bottom = 201
               Right = 550
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UP"
            Begin Extent = 
               Top = 35
               Left = 720
               Bottom = 165
               Right = 931
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_LEAGUE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_LEAGUE'
GO